<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Blog</title>
  <link rel="stylesheet" href="layouts/main/styles.css">
</head>

<body>
  <div class="">
    <div class="mx-auto max-w-4xl">
    {{{body}}}
    </div>
  </div>
</body>

</html>