<section>
  {{#each blogs}}
  <div class="my-8">
    <div>
      <a href="/admin/blogs/{{this.id}}" class="inline-block font-light">
        <h3 class="inline-block text-xl hover:underline">{{this.title}}</h3>
      </a>
      <p class="text-sm font-light">{{this.publishDate}}</p>
    </div>

    <div>
      <p class="line-clamp-2 my-2">
        {{this.excerpt}}
      </p>
    </div>
  </div>
  {{/each}}
</section>