<article>
  <div>
    <h3 class="text-xl">{{blog.title}}</h3>
    <p class="text-sm font-light">{{blog.publishDate}}</p>
  </div>
  <div class="article-content mt-2"></div>
</article>

<script type="module">
import { Editor } from "https://esm.sh/@tiptap/core";
import StarterKit from "https://esm.sh/@tiptap/starter-kit";

const editor = new Editor({
  element: document.querySelector(".article-content"),
  extensions: [StarterKit],
  content: `{{blog.content}}`,
  editable: false
});
</script>