@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import "tailwindcss";

.lobster-two-regular {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lobster-two {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}
